<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- iisnode handler: Node.js uygulamasını IIS üzerinden çalıştırır -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- URL Rewrite: Tüm istekleri server.js'e yönlendirir -->
    <rewrite>
      <rules>
        <!-- Statik dosyalar (public klasörü) doğrudan servis edilsin -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^public/(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>

        <!-- Diğer tüm istekler Node.js'e yönlendirilsin -->
        <rule name="DynamicContent" stopProcessing="true">
          <match url="/*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- iisnode yapılandırması -->
    <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      devErrorsEnabled="true"
      node_env="production"
    />

    <!-- Güvenlik: iisnode log klasörünü tarayıcıdan erişime kapat -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
          <add segment="data" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Statik dosya MIME türleri -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>
